<launch>
  <arg name="camera" default="cam_pcl_1"/>
  
  <node pkg="rs-pcl2" type="differential" name="differential" output="screen">

    <remap from="/input" to="/$(arg camera)/depth/color/points" />
    <remap from="/output" to="/$(arg camera)/differential/ladybug" />
    
    <!-- Filter Params -->
    <param name="filter_low" value="-0.02" />
    <param name="filter_high" value="0.1" /> 
  </node>
</launch>