<launch>
  <group ns="diff_rscam_A">
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
      <arg name="camera" value="diff_cam_A"/>
      <arg name="infra_fps" default="6"/>
      <group ns="$(arg camera)">
        <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
          <arg name="use_filters" default="true"/>
          <arg name="serial_no" value="215222079777"/>
          <arg name="filters" value="spatial,temporal,pointcloud"/>
          </include>
      </group>
    </include>
</launch>